@font-face {
  font-family: "gohu";
  src: url("./fonts/GohuFontuni14NerdFontPropo-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: gohu;
}
body {
  font-size: 2rem;
  background: lightblue;
  color: darkblue;
  padding: 10%;
}

.tools {
  width: 50%; /* box width */
  height: 40%; /* box height */
  background-color: blueviolet; /* green background */
  border: 3px solid black; /* black border */
  padding: 0.1%; /* inner spacing */
  margin: 5%; /* outer spacing */
  color: white; /* text color */
  text-align: left; /* center text */
  line-height: 2rem; /* vertically center text */
}

p {
  line-height: 1.5;
  font-family: gohu;
}
