body {
  font-size: 23px;
  background: lightblue;
  color: darkblue;
}

.tools {
  width: 50%; /* box width */
  height: 40%; /* box height */
  background-color: blueviolet; /* green background */
  border: 3px solid black; /* black border */
  padding: 0.1%; /* inner spacing */
  margin: 5%; /* outer spacing */
  color: white; /* text color */
  text-align: left; /* center text */
  line-height: 2rem; /* vertically center text */
}
